 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* header  */
    header{
        height: 430px;
    }
    .navbar-brand img{
        width: 60%;
    }
    .main-menu ul {
        background-color: #fff;
    }
    .main-menu ul li{
        margin: 7px 0;
        text-align: center;
    }
    .main-menu ul li a{
        padding: 7px 30px !important;
        color: black !important;
        display: inline-block;
    }
    /* hero area  */
    .hero-content {
        padding-top: 130px;
    }
    .hero-content h2 {
        font-size: 24px;
    }
    .hero-content h1 {
        font-size: 35px;
    }
    .hero-content p{
        font-size: 9px;
        letter-spacing: 9px;
    }
    /* booking  */
    .booking-content {
        padding-right: 0;
    }
    .booking-wrapper {
        /* padding-top: 110px; */
    }
    .booking-section {
        padding-top: 50px;
    }
    .booking-section h2 {
        font-size: 22px;
    }
    .booking-section h1 {
        font-size: 32px;
    }
    .booking-section p {
        margin-top: 20px;
        margin-bottom: 35px;
        font-size: 16px;
    }
    .booking-form {
        margin-top: 35px;
    }
    /* tariff  */
    .tariffs-section {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .section-title-upper {
        font-size: 25px;
    }
    .section-title-bottom {
        font-size: 34px;
    }
    .single-tariff {
        margin-bottom: 100px !important;
    }
    /* feature  */
    .feature-wrapper {
        margin-top: 60px;
    }
    .single-feature {
        padding-right: 0;
        margin-bottom: 40px;
    }
    .single-feature .feature-icon .f-icon-box {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .single-feature .feature-content {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }
    .single-feature .feature-content h5 {
        margin-bottom: 16px;
        font-size: 24px;
    }
    .single-feature .feature-content p {
        font-size: 16px;
    }
    /* download  */
    .download-content h3 {
        font-size: 26px;
    }
    .download-content p {
        margin-top: 15px;
        margin-bottom: 30px;
        padding-right: 0;
        font-size: 16px;
    }
    .download-link-thumb {
        text-align: center;
    }
    /* testimonial  */
    .single-wrapper {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .single-wrapper p {
        font-size: 16px;
    }
    /* contact  */
    .contact-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact-details h3 {
        font-size: 25px;
        font-weight: 700;
    }
    .contact-details h1 {
        font-size: 42px;
    }
    /* footer  */
    .footer-wrapper {
        padding-top: 60px;
        padding-bottom: 45px;
    }
    .footer-heading {
        font-size: 23px;
        padding-bottom: 25px;
        padding-top: 10px;
        margin-bottom: 35px;
    }
    .footer-p {
        padding-right: 0;
        font-size: 16px;
    }
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header{
        height: 580px;
    }
    .main-menu ul {
        background-color: #fff;
    }
    .main-menu ul li{
        margin: 7px 0;
        text-align: center;
    }
    .main-menu ul li a{
        padding: 7px 30px !important;
        color: black !important;
        display: inline-block;
    }
    .hero-content h1 {
        font-size: 62px;;
    }
    .booking-wrapper {
        padding-top: 10px;
    }
    .booking-content {
        padding-right: 0;
    }
    .booking-section h1 {
        font-size: 42px;
    }
    .booking-section h2 {
        font-size: 30px;
    }
    .booking-section p {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .booking-form {
        margin-top: 30px;
    }
    .tariffs-section {
        padding-top: 60px;
        padding-bottom: 0;
    }
    .single-tariff {
        margin-bottom: 100px !important;
    }
    .features-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .single-feature {
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .feature-icon {
        margin-bottom: 20px;
    }
    .contact-details h1 {
        font-size: 65px;
    }
    .contact-details h3 {
        font-size: 30px;
    }
    .footer-wrapper {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    header{
        height: 660px;
    }
    .main-menu ul {
        background-color: #fff;
    }
    .main-menu ul li{
        margin: 7px 0;
        text-align: center;
    }
    .main-menu ul li a{
        padding: 7px 30px !important;
        color: black !important;
        display: inline-block;
    }
    .booking-content {
        padding-right: 0;
    }
    .booking-form {
        margin-top: 50px;
    }
    .single-tariff {
        margin-bottom: 100px !IMPORTANT;
    }
    .tariffs-section {
        padding-top: 60px;
        padding-bottom: 0;
    }
    .features-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .single-feature {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .footer-wrapper {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

 /* X-Large devices (xl desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

 /* XX-large devices (xxl desktops, 1400px and up) */
@media (min-width: 1400px) {}
